.container {
  background-color: white;
}

.img {
  background-color: red;
  border: 10px 10px;

}

.img_position {
  background-size: cover;
  background-position: center;
  height: 35vh;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.7;
  border-radius: 5px;
  text-shadow: #000 100px 0 100px;
  font-weight: 750;
  color: white;
  font-size: 5;
}

.img_title {
  font-size: 20px;
  color: white;
  font-style: normal;
  font-weight: 900;
  font-size: 18;

}

.recipe_attrs {
  height: auto;
  width: 100%;
  padding: 10px 10px;
  margin: 1px;


}

#cat-ingredients {
  color: #FD7D07;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 20px;
  width: 100%;
  background-color: white;
  padding: 20px 20px;
  height: 100px;
}

.cook_now {
  width: 375px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 50px;
}

.cook_now_button {
  background-color: #FD7D07;
  border: none;
  color: white;
  padding: 20px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
