<link rel="stylesheet" type="text/css" href="show.css" />


	<% portions.each do |portion| %>	
	<div class="row">
				
		<div class="col bg-transparent text-center d-flex justify-content-center align-items-center">
			<input type="checkbox" aria-label="Checkbox for following text input">
		</div>
		<div class="col">
			<h6 class= "ingredient_name"><%= portion.ingredient.name %> </h6>
		</div>
		<div class="col">
			<img class="img-fluid border-rounded mx-auto d-block" src=<%= portion.ingredient.image %>>
		</div>
		<div class="col"> <%= portion.amount %> </div>
		<div class="col"> 
			<p id="ingredient_unit">	<%= portion.unit %> </p>
		</div>
	</div>
			<% end %>