<div class="col-lg-6 col-sm-6">
    <div class="card hovercard">
        <div class="card-background">
            <img class="card-bkimg" alt="" src="https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
            <!-- http://lorempixel.com/850/280/people/9/ -->
        </div>
        <div class="useravatar">
            <img alt="" src="https://avatars3.githubusercontent.com/u/64709573?v=4">
        </div>
        <div class="card-info"> <span class="card-title">Gonzalo Carrillo</span>
        </div>
    </div>

        <div class="well">
      <div class="tab-content">
        <div class="tab-pane fade in active text-center" id="tab1">
          <h3>eatsy member</h3>
            <p>Start date: June 1, 2020</p>
        </div>

      </div>
    </div>

    </div>


