<div class="img-index">
  <div class="dietary-chekbox vertical-center ">
   	<div class="card-body">
      <form action="<%= random_path%>">
     
        <div class="form-group ">
          <label class="control-label">
            <h3>Choose your diet</h3>
          </label>
          <div class="checkbox">
            <label class="checkbox">
            <input name="vegan" type="checkbox" value="true"/>
            Vegan
            </label>
          </div>
          <div class="checkbox">
            <label class="checkbox">
            <input name="vegetarian" type="checkbox" value="true"/>
            Vegetarian
            </label>
            </div>
          <div class="checkbox">
            <label class="checkbox">
            <input name="gluten_free" type="checkbox" value="true" disabled/>
            Gluten Free
            </label>
          </div>
          <div class="checkbox">
            <label class="checkbox">
            <input name="dairy_free" type="checkbox" value="true" disabled/>
            Diary Free
            </label>
          </div>
          <div class="checkbox">
            <label class="checkbox">
            <input name="ketogenic" type="checkbox" value="true" disabled/>
            Ketogenic
            </label>
          </div>
        </div>
        <div class="form-group">
          <div>
          <button class="btn btn-warning " name="submit" type="submit">
            eat simple
          </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

