<div class="mx-auto" style="width: 400px;">

    <form class="was-validated">
    <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
        <label class="custom-control-label" for="customControlValidation1">Vegan</label>
        <div class="invalid-feedback">"I'm a strict vegan"</div>
    </div>

    <form class="was-validated">
    <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="customControlValidation2" required>
        <label class="custom-control-label" for="customControlValidation2">Vegetarian</label>
        <div class="invalid-feedback">Includes Milk & related products</div>
    </div>

    <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="customControlValidation3" required>
        <label class="custom-control-label" for="customControlValidation3">Gluten Free</label>
        <div class="invalid-feedback">Avoid wheat and some other grains while choosing substitutes that provide nutrients for a healthy diet.</div>
    </div>

    <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="customControlValidation4" required>
        <label class="custom-control-label" for="customControlValidation4">Diary Free</label>
        <div class="invalid-feedback">omits milk and all related products — from butter and ghee to milk, yogurt, and cheese</div>
    </div>

    <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="customControlValidation5" required>
        <label class="custom-control-label" for="customControlValidation5">Ketogenic</label>
        <div class="invalid-feedback">Wanna get more calories from protein and fat and less from carbohydrates !</div>
    </div>

    <button class="btn btn-primary" type="submit">Submit form</button>


</div>