<div class="container">
    
    <form class="form-inline d-flex justify-content-center md-form form-sm mt-5 mb-14">
                
        <%= link_to "Browse Recipes", random_path(@recipe), class: "add-to-cart btn btn-dark" %> 
                
   </form>
</div>

