<div class="" role="document">
  <div class="img-index2">
    <div class="card-body text-center">
      <div class="checkout text-format text-center">
        <img src=" https://i.imgur.com/d2dKtI7.png" height="100" width="100">
          <h3>Thanks for your order! </h3>
            <h4>It will arrive within 2 hours!</h4>
              <div class="checkout2">
                <%= link_to "e a t s y", recipes_path, class: "btn btn-lg btn-warning"%>
              </div>
      </div>
    </div>
  </div>
</div>

