
  <div class="row bg-light icons-text">
    <div class="col-4 d-flex justify-content-center"><%= image_tag "https://api.iconify.design/noto-v1:cooking.svg?width=25&height=25" %></div>
    <div class="col-4 d-flex justify-content-center"><%= image_tag "https://api.iconify.design/gg:shopping-cart.svg?color=orange&width=50&height=25" %></div>
    <div class="col-4 d-flex justify-content-center"><%= image_tag "https://api.iconify.design/ic:baseline-account-box.svg?color=orange&width=50&height=25" %></div>
    <div class="col-4 d-flex justify-content-center">EAtSY</div>
    <div class="col-4 d-flex justify-content-center">CART</div>
    <div class="col-4 d-flex justify-content-center">ACCOUNT</div>
  </div>

