<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
 -->
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>EAtSY</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="pages/landing-page.min.css" rel="stylesheet">

</head>

<body>
  <!-- Masthead -->

  <header class="masthead text-white text-center d-flex justify-content-center align-items-center flex-column">
      <h1 class="mb-5">EAtSY</h1>
        <%=link_to "Eat Simple", recipes_path, class: "btn btn-lg btn-primary call-to-action"%>
          <!-- <div class="overlay"></div> -->
  </header>
