<div class="container">
    
    <% if user_signed_in? %>
        <%= link_to "Get Started", recipes_path, class: "add-to-cart btn btn-dark" %> 
    <% else %>
        <%= link_to "Get Started", random_path(@recipe), class: "add-to-cart btn btn-dark" %>     
    <% end %>
                   

</div>