
  <header class="masthead text-white text-center d-flex justify-content-center align-items-center flex-column">
      <h1 class="mb-5">EAtSY</h1>
        <%=link_to "Eat Simple", recipes_path, class: "btn btn-lg btn-primary call-to-action"%>
          <!-- <div class="overlay"></div> -->
  </header>
