

<header class="masthead text-white text-center d-flex justify-content-center align-items-center flex-column">
  <h1 class="mb-5 ">eatsy</h1>
          <!-- <div class="overlay"></div> -->
  <% if user_signed_in? %>
    <%= link_to "Eat Simple", recipes_path, class: "btn btn-lg btn-warning call-to-action" %>
  <% else %>
    <%= link_to "Eat Simple", random_path(@recipe), class: "btn btn-lg btn-warning call-to-action" %>
  <% end %>

</header>

