<div class="container text-center">
  <div class="">
    <div><img class="image-reviews" src='<%= @recipe.image %>'>
       <h3 class="font-weight-bold"><%=@recipe.title%></h3>
      <div class="line"></div>
        <div class="">
        <h5 class="text-secondary">Ratings</h5>
        </div>
      </div>
      <% @reviews.each do |review| %>
      <div class="">
        <div class="">
        <%review.rating.times do %>
        <i class="fas fa-star"></i>
        <%end%>
       <h5 class="text-secondary">Feedback</h5>
      <div class="">
      </div>
      <h7 class="rating"><%=review.description%></h7>
        </div>
      </div>
      <% end %>
  </div>
</div>

  <div class= "text-center" style="margin-top: 20%;">
    <%= link_to "Next Recipe", recipes_path, class: "btn btn-lg btn-warning" %>
  </div>


